{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>PageIt</title>
    <meta charset="UTF-8">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static "page.js" %}"></script>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
<div id="page"></div>
{% csrf_token %}
<script>
    const quill = new Quill("#page", {
        modules: {
            toolbar: false,
        },
        placeholder: "",
        theme: "snow",
    });
    quill.disable();
</script>
{% if data.id %}
    <script>
    $.ajax("/data/{{ data.id }}")
        .done(function(data){
            quill.setContents(JSON.parse(data));
        })
        .fail(function(date){
            window.location.href = window.location.origin;
        });
    </script>
{% endif %}
</body>
</html>